.rating {
  display: inline-block;
  padding: 0.5rem;
}

.rating > span {
  color: #ccc;
  cursor: pointer;
  transition: all 200ms ease;
}

.rating > span.active {
  color: var(--clr-warning-400);
}

.rating > span:hover {
  transform: scale(1.2);
}
