.avatar-badge,
.icon-badge {
  position: relative;
  display: inline-block;
}

.avatar-badge > div {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: var(--br-full);
}

.avatar-badge-xs div {
  width: 4px;
  height: 4px;
}

.avatar-badge-sm div {
  width: 6px;
  height: 6px;
}

.avatar-badge-md div {
  width: 8px;
  height: 8px;
}

.avatar-badge-lg div {
  width: 10px;
  height: 10px;
}

.avatar-badge-xl div {
  width: 12px;
  height: 12px;
}

.status-online {
  background-color: var(--clr-success-500);
}
.status-offline {
  background-color: var(--gray);
}
.status-idle {
  background-color: var(--clr-warning-500);
}
.status-dnd {
  background-color: var(--clr-danger-500);
}

.icon-badge > div {
  width: 20px;
  height: 20px;
  padding: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--clr-primary-500);
  color: var(--white);
  border-radius: var(--br-full);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 600;
}

.icon-badge > .icon {
  font-size: 2rem;
}
